    *{ margin:0; padding:0; box-sizing:border-box; } 


    body{
        ont-family: Arial, sans-serif; 
        background: linear-gradient( rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../../home/image/tech.jpg") no-repeat; 
        background-size: cover; background-position: center; 
        background-attachment: fixed; 
        min-height:100vh; 
        color:white; 
    } 